/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
body {
    background-color: #fff;
    padding: 0px, 5px;
    box-sizing: border-box;
}

/* настройка ширины всего содержимого */
.container {
    width: 90%;
    margin: 0px auto;
}

.payment_container {
    width: 30%;
    margin: 0px auto;
    margin-bottom: 50px;
}

.wrapper {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.content {
    flex: 1 1 auto;
}

/* шляпа */
.header_container {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #fff2f6;
}

.logo {
    font-family: "Madimi One", sans-serif;
    font-style: normal;
    font-size: 32px;
    color: #000;
}

.menu_text {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
}

/* меню на шапке */
.navbar a {
    position: relative;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0%;
    height: 2px;
    background: #000;
    transition: 0.4s;
}

.navbar a:hover::before {
    width: 100%;
}

/* категории */
.category {
    background-color: #fff2f6;
    padding: 5px;
    font-style: initial;
}

.category_list {
    display: flex;
    justify-content: center;
    font-size: 25px;
}


.category_ref {
    color: #000;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    opacity: 0.6;
    transition: 2s;

}

.disp {
    display: none;
}


.elements {
    padding-left: 30px;
    /* font-size: 0px; */
    /* display: none; */

}



.category_ref:hover {
    color: #ec6a13;
    transition: 1s;
    opacity: 0.6;
    text-shadow: 0px 0px 0px rgb(240, 61, 61);

}


.caption {
    margin-bottom: 0px;
}



/* каталог и тп */
.caption_main {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding: 70px 0px 0px;
}

.register_caption {
    padding: 0px
}


.caption_other {
    font-family: "Exo 2", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;

}

.catalog_column {
    display: flex;
    justify-content: space-around;
    padding-bottom: 200px;
    padding-top: 30px;

    flex-wrap: wrap;
}

.catalog_item {
    flex: 0 0 30%;
    padding-bottom: 100px;
}

.item {
    overflow: hidden;
    box-shadow: 2px 2px 5px red;
    border: #d82f2f;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: 2s;
}

.item:last-child {
    align-items: center;
    justify-content: space-between;
}

.item:hover {
    box-shadow: 2px 2px 5px rgb(91, 225, 2);
    border-radius: 50px;
    transition: 1s;
    width: 100%;
}

.image_block {
    padding-top: 10px;
}

.item_image img {
    width: 350px;
    height: 250px;
    object-fit: contain;

    transition: transform 1s;
}

.pasta_img {
    padding-top: 0px;
}

.sushi_img {
    margin-left: 50px;
}

.item_image {
    align-items: center;
}

.item_image:hover img {
    transform: scale(1.15);
}

.item_title_row {
    padding-top: 10%;
}

.item_title {
    font-family: "Exo 2", sans-serif;
    text-align: center;
    vertical-align: middle;

    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    color: #000;
    font-size: 30px;
    padding: 0px 20px;
    position: relative;
    z-index: 100;
}

.item_title {
    font-family: "Exo 2", sans-serif;
    text-align: center;
    vertical-align: middle;

    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    color: #000;
    font-size: 30px;
    padding: 0px 20px;
    position: relative;
    z-index: 100;
}

.review_text {
    font-family: "Exo 2", sans-serif;
    text-align: center;
    vertical-align: middle;

    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    color: #00000060;
    font-size: 20px;
    padding: 0px 20px;
    position: relative;
    z-index: 100;
}

.review_display {
    display: none;
}


.item_p {
    font-size: 19px;
    color: #000;
    opacity: 0.7;
    padding: 0px 20px;
    line-height: 23px;
}

/* цена и заказать в каталоге */
.item_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    align-self: flex-end;
    margin-bottom: 25px;
}

.buy_button {
    overflow: hidden;
    animation: colorChange 2s infinite;
    font-size: 20px;
    border-radius: 2px;
    padding: 12px 10px;
    text-transform: uppercase;
    margin-right: 10%;
    background-color: #e86767;
    border-radius: 50px;
    color: aliceblue;
    width: 130px;
    text-align: center;
}

@keyframes changeColor {
    0% {
        color: white;
        /* Начальный цвет (белый) */
    }

    50% {
        color: #FFE5A2;
        /* Промежуточный цвет (желтый) */
    }

    100% {
        color: white;
        /* Конечный цвет (белый) */
    }
}

.buy_btn.highlight {
    animation: changeColor 5s infinite;
    /* Анимация смены цвета, длительность 5 секунд */
}

.buy_button.highlight {
    animation: changeColor 5s infinite;
    /* Анимация смены цвета, длительность 5 секунд */
}

.promo_button.highlight {
    animation: changeColor 5s infinite;
    /* Анимация смены цвета, длительность 5 секунд */
}






.price_row {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.item_price_default {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 800;
    color: #000;
}



.item_price_new {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    padding-left: 20px;
    font-weight: 800;
    color: #e86767;
}

.item_price_old {
    margin-top: 24px;
    font-size: 15px;
    font-family: "Exo 2", sans-serif;
    color: #a19f9f;
    opacity: 0.8;
    font-weight: 500;
    padding-left: 10px;
    text-decoration: line-through;
    font-weight: 400px;
}

.buy_stuff {
    display: flex;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/*  ЛИЧНЫЙ КАБИНЕТ */
.order_image {
    width: 150px;
    height: auto;
    transition: 1s;
}

.order_image:hover {
    transform: scale(1.5);
    transition: 1s;
}


.promo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8cccc;
}

.promotext {
    /* width: 50%; */
}

.promo_text {
    display: block;

}

.promo_img {
    width: 150px;
    height: auto;
}

.friend_promo {
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;

}


.promo_container {
    /* width: 50%; */
}

.promo_copy {
    display: flex;
    justify-content: center;
    align-self: center;
}

.promo_button {}

.promo_button {
    background-color: #ee682a;
    margin-left: 30px;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition-duration: 0.7s;
    border-radius: 35px;
}

.promo_button:hover {
    background-color: #e93819;
}


.promocode {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/* корзина */

.shopping {}

.shopping_item {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.shopping_text {
    width: 30%;
    text-align: center;
}

.shop_name {
    font-size: 25px;
    text-align: center;
}

.shopping_data {
    font-size: 18px;
}

.shop_footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.shop_btn {
    align-self: center;
    margin-right: 0%;
}

.price {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.review_btn {
    padding: 10px;
    font-size: 12px;
    margin: 0%;
    align-items: center;
    text-align: center;
}

.review_stuff {
    display: flex;
    flex-direction: column;
}

.shopping_stuff {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.shopping_name {
    width: 50%;
}

.indent {
    margin-bottom: 10px;
}



/* ФУТЕР */
.footer {
    background-color: #f9fafb;
    margin-top: 300px;
    padding-top: 50px;
}

/* отображение  */
.footer_row {
    display: flex;
    height: 200px;
    border-color: #000;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

/* таблица */
.footer_links {
    color: #000;
}

th {
    font-weight: 700;
    padding-bottom: 10px;
    padding-right: 125px;
}

td {
    padding-bottom: 5px;
}

a {
    /* color: dodgerblue; */
}

hr {
    border: none;
    background-color: #f3b6b6;
    opacity: 0.2;
    color: #d82f2f;
    height: 2px;
}

.user_data {
    width: 50%;
    margin: 0 auto;

    padding-bottom: 100px;
}

h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* добавление +- для кнопок */
/* item у чела */
.item_shopping {
    font-family: 'Merriweather', serif;
    background: #F1F4F9;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 5px;
    width: 120px;
    display: flex;
    font-size: 18px;
    height: 30px;
    overflow: hidden;
}

.items_control {
    width: 40px;
    cursor: pointer;
    transition: 0.2s ease-in;
    padding-top: 5px;

}

.items_control:hover {
    background: #e86767;
    color: #FFF;
}

.items_current {
    width: 40px;
    padding-top: 5px;
}

/*  оплата товара */



.payment_stuff {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.payment_btn {
    align-self: center;
    margin-right: 0%;
}




.product_title {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #000;
}


.promo_text {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.promo_input {
    display: flex;
    justify-content: space-between;
}

.input_promo_text[type="text"] {
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    width: 50%;
    font-size: 16px;
}

.btn_send {
    border-radius: 30px;
    size: 100px;
    font-size: 100px;
    background-color: #1C1C1C;

    color: #FFF
}


.btn_design {
    width: 100%;
    text-align: center;
}

/* анимация кнопки по заполнению данных */

.box_animate_2 {
    animation: 1s animate_2 forwards;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes animate_2 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* конец анимации по заполнению данных */


.btn_send {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.warning_labo {
    color: #e86767;
    margin-top: 2px;
    display: 'block';
}

.down_footer {
    display: flex;
    justify-content: space-between;
}

.error {
    border-color: red;
    background-color: #ffdddd;
}

.error-message {
    color: red;
    font-size: 0.9em;
}





.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 40%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-radius: 5px;

}

.form-container p.item_title {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
    text-align: left;
}

.form-container input[type="file"] {
    margin-bottom: 20px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 1em;
}

.form-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}


.form_content {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
}

.photo_page {
    margin: 40px 20%;
}

/* регистрация */
/* Full-width input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 0px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 1.6rem;

}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 50px;
    width: 20%;
    margin: 0 auto;
    display: block;
    font-size: 1.4rem;


}

.registerbtn:hover {
    opacity: 1;
    transition: 0.5s;
}


.signin {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 1.4rem;
}

.register_container {
    width: 50%;
    align-items: center;
    margin: 0 auto;
    display: block;

}

/* Стили для aria-invalid */
input[aria-invalid="true"],
select[aria-invalid="true"],
textarea[aria-invalid="true"] {
    border-color: #e3342f;
}



/* Стили для сообщения об ошибке */
.error_register {
    color: #e3342f;
    font-size: 1em;
}

.fieldName {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

.formLogout {
    margin-top: -10px;
}

/* админская панель */
.table-container table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1.6rem;
}

.table-container th,
.table-container td {
    border: 1px solid #dee2e6;
    padding: 8px;
    text-align: center;
}

.table-container th {
    background-color: #e86767;
    color: #fff;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

.table-container tbody tr:hover {
    background-color: #e9ecef;
}

.form-control {
    width: 100%;
}

.caption-main {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1.4rem;
}

.form-textarea {
    height: 720px;
}

.form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.form-button:hover {
    background-color: #0056b3;
}

.containerpage {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.save_btn {
    margin-right: 0;
    width: 160px;
    background-color: #49c947
}

.newUserForm {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer_text {}